In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [3]:
movies = pd.read_csv("IMDb movies.csv")

imdb_movies['production_company'] = imdb_movies['production_company'].fillna('Data Not Available')

## Study input file

In [5]:
movies.head(3)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,537,$ 2250,NaN,NaN,NaN,7.0,7.0
1,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.9,171,NaN,NaN,NaN,NaN,4.0,2.0
2,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,420,$ 45000,NaN,NaN,NaN,24.0,3.0

In [ ]:
movies_refined = movies[['imdb_title_id','genre']]
movies_refined

In [ ]:
def unique_col(col):
    return col.split(',')

In [ ]:
genre_list1 = bb.genre.apply(unique_col)

In [ ]:
genre_list1

In [ ]:
genre_list2 = []
for a in genre_list1:
    a = [x.strip(' ') for x in a]
#     print(a)
    genre_list2 = genre_list2 + a

In [ ]:
# array converted to list
genre_list3 = list(set(genre_list2))

df1 = pd.DataFrame(genre_list3,columns=['genre_name'])

In [ ]:
def key_genre(col):
    return col[0:2] + '_g_' + col[-1]

In [ ]:
df1['genre_id'] = df1.genre_name.apply(key_genre)
genre = df1

In [ ]:
movies_refined.set_index('imdb_title_id', inplace=True)

In [ ]:
d = []
for a,b in bb.iterrows():
    #print(a)
    #print(b)
    
    
    #c = b.str.split(',')
    #c = [x.strip(' ') for x in c]
    
    
    c = [x.strip(' ').split(',') for x in b]
    c = c[0]
    c = [x.strip(' ') for x in c]
    #print(c)
    
    
    for x in c:
        #print(a)
        #print(x)
        d.append({
            'movie_id': a,
            'genre_name': x})

df2_a = pd.DataFrame(d)
df2 = pd.merge(df2_a, df1)

## Movie Genre Junction

In [ ]:
movie_genre_junction = df2[['movie_id','genre_id']]
movie_genre_junction

## Genre table

In [ ]:
genre

In [ ]:
prod_comp = imdb_movies['production_company']
prod_comp = prod_comp.to_frame()
prod_comp['production_company_id'] = prod_comp.production_company.apply(key_genre)
production_company = prod_comp

## Production company

In [ ]:
production_company.head()

In [ ]:
prod_df = pd.merge(imdb_movies, production_company, left_on='production_company', right_on='production_company')
prod_df

In [ ]:
#prod_df2 is the new imdb_movies data frame. prod_df2 holds the company_id which was created to normalize the data
prod_df2_movies = prod_df.drop(columns='production_company')
prod_df2_movies.head()