## Observations and Insights


•	The  original data sets contained duplicate mice in the “study_results” file. The duplicates were removed to create a 
    merged data frame of all the data\
•	The bar chart shows that at the last time point, Capomulin and Ramicane are the most effective drugs with the most number 
    of mice still alive. Propriva seems to be the least effective drug the least number of mice alive\
•	The proportion of male mice was slightly higher in the study compared to female mice at 50.61% and 49.39% respectively\
•	The box and whisker plot shows that Ramicane was the most effective drug showing the least tumor volume\
•	The tumor volume has a positive correlation with mouse weight with a R2 value of 0.84

In [1]:
%matplotlib inline

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
from matplotlib import cm
import pandas as pd
import scipy.stats as st
from sklearn import datasets
import numpy as np
from scipy.stats import linregress

In [5]:

# Study data files
imdb_movies_filepath = "../Resources/IMDb movies.csv"
imdb_names_filepath = "../Resources/IMDb names.csv"
imdb_ratings_filepath = "../Resources/IMDb ratings.csv"
imdb_title_principals_filepath = "../Resources/IMDb title_principals.csv"


# Read the mouse data and the study results
imdb_movies = pd.read_csv(imdb_movies_filepath)
imdb_names = pd.read_csv(imdb_names_filepath)
imdb_ratings = pd.read_csv(imdb_ratings_filepath)
imdb_title_principals = pd.read_csv(imdb_title_principals_filepath)

In [6]:
imdb_movies.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,537,$ 2250,NaN,NaN,NaN,7.0,7.0
1,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.9,171,NaN,NaN,NaN,NaN,4.0,2.0
2,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,420,$ 45000,NaN,NaN,NaN,24.0,3.0
3,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2019,NaN,NaN,NaN,NaN,28.0,14.0
4,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913,"Biography, Drama",60,USA,English,Sidney Olcott,...,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,438,NaN,NaN,NaN,NaN,12.0,5.0

# MOVIES FILE

In [17]:
imdb_movies.isnull().sum()

imdb_title_id                0
title                        0
original_title               0
year                         0
date_published               0
genre                        0
duration                     0
country                     39
language                   755
director                    73
writer                    1493
production_company        4325
actors                      66
description               2430
avg_vote                     0
votes                        0
budget                   58469
worlwide_gross_income    51381
reviews_from_users        7077
reviews_from_critics     10987
dtype: int64

In [18]:
imdb_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81273 entries, 0 to 81272
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          81273 non-null  object
 1   title                  81273 non-null  object
 2   original_title         81273 non-null  object
 3   year                   81273 non-null  int64
 4   date_published         81273 non-null  object
 5   genre                  81273 non-null  object
 6   duration               81273 non-null  int64
 7   country                81234 non-null  object
 8   language               80518 non-null  object
 9   director               81200 non-null  object
 10  writer                 79780 non-null  object
 11  production_company     76948 non-null  object
 12  actors                 81207 non-null  object
 13  description            78843 non-null  object
 14  avg_vote               81273 non-null  float64
 15  votes                  81273 non-null  int64
 16  budget                 22804 non-null  object
 17  worlwide_gross_income  29892 non-null  object
 18  reviews_from_users     74196 non-null  float64
 19  reviews_from_critics   70286 non-null  float64
dtypes: float64(3), int64(3), object(14)
memory usage: 12.4+ MB

### Dropping columns

In [15]:
imdb_movies.drop('metascore',axis=1, inplace = True)

In [ ]:
imdb_movies.drop('usa_gross_income',axis=1, inplace = True)

In [16]:
imdb_movies.to_csv('IMDb_movies_cleaned.csv')

In [19]:
imdb_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81273 entries, 0 to 81272
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          81273 non-null  object
 1   title                  81273 non-null  object
 2   original_title         81273 non-null  object
 3   year                   81273 non-null  int64
 4   date_published         81273 non-null  object
 5   genre                  81273 non-null  object
 6   duration               81273 non-null  int64
 7   country                81234 non-null  object
 8   language               80518 non-null  object
 9   director               81200 non-null  object
 10  writer                 79780 non-null  object
 11  production_company     76948 non-null  object
 12  actors                 81207 non-null  object
 13  description            78843 non-null  object
 14  avg_vote               81273 non-null  float64
 15  votes                  81273 non-null  int64
 16  budget                 22804 non-null  object
 17  worlwide_gross_income  29892 non-null  object
 18  reviews_from_users     74196 non-null  float64
 19  reviews_from_critics   70286 non-null  float64
dtypes: float64(3), int64(3), object(14)
memory usage: 12.4+ MB

# NAMES FILE

In [18]:
imdb_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175715 entries, 0 to 175714
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   imdb_name_id           175715 non-null  object
 1   name                   175715 non-null  object
 2   birth_name             175715 non-null  object
 3   height                 30080 non-null   float64
 4   bio                    122832 non-null  object
 5   birth_details          75229 non-null   object
 6   birth_year             75111 non-null   float64
 7   date_of_birth          75102 non-null   object
 8   place_of_birth         71122 non-null   object
 9   death_details          26862 non-null   object
 10  death_year             26838 non-null   float64
 11  date_of_death          26855 non-null   object
 12  place_of_death         25036 non-null   object
 13  reason_of_death        11972 non-null   object
 14  spouses                175715 non-null  int64
 15  divorces               175715 non-null  int64
 16  spouses_with_children  175715 non-null  int64
 17  children               175715 non-null  int64
 18  primary_profession     175341 non-null  object
 19  known_for_titles       174748 non-null  object
dtypes: float64(3), int64(4), object(13)
memory usage: 26.8+ MB

In [20]:
imdb_names.isnull().sum()

imdb_name_id                  0
name                          0
birth_name                    0
height                   145635
bio                       52883
birth_details            100486
birth_year               100604
date_of_birth            100613
place_of_birth           104593
death_details            148853
death_year               148877
date_of_death            148860
place_of_death           150679
reason_of_death          163743
spouses                       0
divorces                      0
spouses_with_children         0
children                      0
primary_profession          374
known_for_titles            967
dtype: int64

# RATINGS FILE

In [19]:
imdb_ratings.isnull().sum()

imdb_title_id                    0
weighted_average_vote            0
total_votes                      0
mean_vote                        0
median_vote                      0
votes_10                         0
votes_9                          0
votes_8                          0
votes_7                          0
votes_6                          0
votes_5                          0
votes_4                          0
votes_3                          0
votes_2                          0
votes_1                          0
allgenders_0age_avg_vote     54730
allgenders_0age_votes        54730
allgenders_18age_avg_vote      415
allgenders_18age_votes         415
allgenders_30age_avg_vote        9
allgenders_30age_votes           9
allgenders_45age_avg_vote      113
allgenders_45age_votes         113
males_allages_avg_vote           1
males_allages_votes              1
males_0age_avg_vote          60934
males_0age_votes             60934
males_18age_avg_vote          1056
males_18age_votes             1056
males_30age_avg_vote             9
males_30age_votes                9
males_45age_avg_vote           153
males_45age_votes              153
females_allages_avg_vote        70
females_allages_votes           70
females_0age_avg_vote        65940
females_0age_votes           65940
females_18age_avg_vote        5034
females_18age_votes           5034
females_30age_avg_vote         864
females_30age_votes            864
females_45age_avg_vote        2572
females_45age_votes           2572
top1000_voters_rating          606
top1000_voters_votes           606
us_voters_rating               239
us_voters_votes                239
non_us_voters_rating             4
non_us_voters_votes              4
dtype: int64

In [28]:
imdb_ratings.drop(['allgenders_0age_avg_vote','allgenders_0age_votes','allgenders_18age_avg_vote','allgenders_18age_votes','allgenders_30age_avg_vote','allgenders_30age_votes','allgenders_45age_avg_vote','allgenders_45age_votes','males_allages_avg_vote','males_allages_votes','males_0age_avg_vote','males_0age_votes','males_18age_avg_vote','males_18age_votes','males_30age_avg_vote','males_30age_votes','males_45age_avg_vote','males_45age_votes','females_allages_avg_vote','females_allages_votes','females_0age_avg_vote','females_0age_votes','females_18age_avg_vote','females_18age_votes','females_30age_avg_vote','females_30age_votes','females_45age_avg_vote','females_45age_votes'],axis=1,inplace=True)

In [31]:
imdb_ratings.to_csv('imdb_ratings_cleaned.csv')

In [30]:
imdb_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81273 entries, 0 to 81272
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          81273 non-null  object
 1   weighted_average_vote  81273 non-null  float64
 2   total_votes            81273 non-null  int64
 3   mean_vote              81273 non-null  float64
 4   median_vote            81273 non-null  float64
 5   votes_10               81273 non-null  int64
 6   votes_9                81273 non-null  int64
 7   votes_8                81273 non-null  int64
 8   votes_7                81273 non-null  int64
 9   votes_6                81273 non-null  int64
 10  votes_5                81273 non-null  int64
 11  votes_4                81273 non-null  int64
 12  votes_3                81273 non-null  int64
 13  votes_2                81273 non-null  int64
 14  votes_1                81273 non-null  int64
 15  top1000_voters_rating  80667 non-null  float64
 16  top1000_voters_votes   80667 non-null  float64
 17  us_voters_rating       81034 non-null  float64
 18  us_voters_votes        81034 non-null  float64
 19  non_us_voters_rating   81269 non-null  float64
 20  non_us_voters_votes    81269 non-null  float64
dtypes: float64(9), int64(11), object(1)
memory usage: 13.0+ MB

In [21]:
imdb_title_principals.isnull().sum()

imdb_title_id         0
ordering              0
imdb_name_id          0
category              0
job              281060
characters       224064
dtype: int64